.sa-debugger {
    background-color: #ffffff;
    overflow-y: auto;
    /*max-height: 87vh;*/
    height: 50px;
    max-width: 100%;
    overflow-x: hidden;
    padding: 18px;
}
.sa-debugger table#opcode-debug {
    width: 100%;
    table-layout: fixed;
}
.sa-debugger .sa-debug-table-wrapper {
    width: 100%;
    overflow-x: auto;
}
.sa-debugger .sa-debug-row {
    min-width: 100%;
    overflow-x: scroll;
    margin: 18px;
}
.sa-debugger .sa-debug-col.sa-table-text {
    padding: 5px;
    padding-bottom: 56px;
    width: 5%;
}
col.sa-debug-blockSvg-col ~ col.sa-debug-table-col.col-other {
    width: calc(100% - var(--otherWidth));
}
.sa-debugger .injectionDiv {
    width: 100%;
    height: 100%;
}
.sa-table-text {
    text-align: center;
    padding-bottom: 40px;
}
.sa-debug-search {
    background-image: url("search.svg");
    width: 25%;
    margin-bottom: 4px;
    padding: 8px;
    padding-right: 32px; /* for the text to not overlap the image */
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: calc(100% - 7px) center;
    font-size: 0.75rem;
}

.sa-category-select {
    padding: 8px;
    color: var(--thisCategoryColor);
    display: inline-block;
    margin: 4px;
}

.sa-category-select.deselected-category {
    filter: grayscale(25%);
    background-color: hsl(0, 0%, 50%, 1)
}

.sa-clear-btn {
    float: right;
    background-color: hsla(215, 100%, 65%, 1);
    color: hsla(0, 100%, 100%, 1);
    padding: 8px;
}