[class^="gui_body-wrapper"] {
  width: 100%;
}
.sa-zen-mode-button {
  margin-bottom: 0.375rem;
  position: absolute;
  right: 0.375rem;
  -webkit-filter: saturate(0);
  filter: saturate(0);
}

.sa-zen-mode-button::active {
  -webkit-filter: none;
  filter: none;
}

.sa-zen-mode-hideable.sa-zen-mode-hidden {
  display: none;
}

[class^=gui_stage-and-target-wrapper].sa-zen-mode-hideable.sa-zen-mode-stage-accomodate:not(.sa-zen-mode-hidden) {
  /*margin-top: 2.75rem;*/
  margin-right: 2rem;
}
